<a href="https://colab.research.google.com/github/sexyh1/-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("3개의 정수값을 입력하시오")
n1 = int(input("n1의 정수값을 입력: "))
n2 = int(input("n2의 정수값을 입력: ")) 
n3 = int(input("n3의 정수값을 입력: ")) 

t45otal = n1 + n2 + n3;
average = total /3 ;
print(average)

3개의 정수값을 입력하시오
n1의 정수값을 입력: 42
n2의 정수값을 입력: 445
n3의 정수값을 입력: 5
164.0

In [7]:
import math 
print("'a, b, c' 3개의 값을 입력하시오")
#from math import sqrt 
a = int(input("Enter the a: "))
b = int(input("Enter the b: ")) 
c = int(input("Enter the c: ")) 

d = math.sqrt(b*b) - (4*a*c);
x1 = (-b+d) / (2 * a);
x2 = (-b-d) / (2 * a);
print(x1, x2)

'a, b, c' 3개의 값을 입력하시오
Enter the a: 4
Enter the b: -4
Enter the c: -8
17.0 -16.0

In [9]:
import math

a = int(input("a의 값을 입력하세요: "))
b = int(input("b의 값을 입력하세요: "))
c = int(input("c의 값을 입력하세요: "))
x1 = ( (-b + (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
x2 = ( (-b - (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
print("x1 = " , x1)
print("x2 = " , x2)

a의 값을 입력하세요: 5
b의 값을 입력하세요: -6
c의 값을 입력하세요: -2
x1 =  36.79449471770337
x2 =  -6.79449471770337

In [12]:
total = 0 
counter = 1 
while counter <= 10:
 grade=int(input ("Enter grade: "))
 total = grade + total
 counter = counter + 1
average = total / 10

print(average)

Enter grade: 43
Enter grade: 23
Enter grade: 321
Enter grade: 234
Enter grade: 132
Enter grade: 312
Enter grade: 567
Enter grade: 1234
Enter grade: 1235
Enter grade: 1279
538.0